.logo {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: center;
    background-image: url("bgpoke2.png");
    background-color: #cccc;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
}
.logo h1 {
    padding-left: 5rem;
    color: rgb(51, 51, 185);
    filter: none;
}
.logo #pokeball {
    height: 20vh;
    width: 10vw;
    margin-left: 5rem;
    margin-top: 3rem;
}
.logo #pokeball:hover {
    cursor: pointer;
}
.logo #pokemonlogo {
    width: 50vw;
    height: 40vh;
}

/* Below pokemon.html files */
.header {
    display:flex;
    flex-flow: column nowrap;
}
.header #submit {
    border: 2px solid black;
    background-color: gray;
    color: black;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
}
.pokemonDisplay {
    border: 1px solid black;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.pokemonDisplay #activeImg, #activeShinyImg {
    height: 6vh;
    width: 6vw;
}
.gameboy {
    background-color: rgb(172, 171, 171);
    margin: 1rem 1rem 1rem 1rem;
    border: 2px solid black;
    width: 20vw;
    border-radius: 7px;
}
.boxHeader img {
    height: 7vh;
    width: 7vw;
}
.boxHeader {
    background-color: rgb(139, 139, 139);
    display: flex;
    height: 30vh;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.boxBody {
    background-color: rgb(172, 171, 171);
    display: flex;
    height: 30vh;
    flex-flow: column wrap;
    align-items: center;
}
.boxBody img {
    align-self: flex-start;
    padding-left: 2rem;
    height: 10vh;
    width: 10vh;
}
.boxBody button {
    border: 1px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    width: 3.5vw;
    height: 2.2vh;
}
.buttonsTop {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
.buttonsTop button{
    width: 2vw;
    height: 4vh;
    border: 1px solid black;
    border-radius: 50%; 
}
.buttonsTop #buttonA {
    padding-top: 3rem;
}
.buttonsTop img {
    padding-right: 7rem;
}
.buttonsBot {
    padding: 3rem 0rem 0rem 0rem;
}
.buttonsBot button:hover {
    cursor:pointer;
}
.gameboyDisplayBox {
    border: 1px solid black;
    margin: 1rem;
}
.displayInnerBox {
    border: 10px solid black;
}
.gameboy h1 {
    font-size: 2em;
    margin: 0rem;
}
.gameboy h2 {
    font-size: 1.3em;
    margin: 0rem;
}
.gameboy h3 {
    font-size: .8em;
    padding-left: 1.5rem;
}
.pokeTypes {
    color: black;
}
html {
    margin: 0;
    width: 100%;
}