@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    margin: 0;
    width: 100%;
}
/* below this is index.html styling */
.logo {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: center;
    background-image: url("bgpoke2.png");
    background-color: #cccc;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
}
.logo h1 {
    padding-left: 20px;
    color: black;
    filter: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    padding-left: 60px;
}
.logo #pokeball {
    height: 20vh;
    width: 10vw;
    margin-left: 20px;
    margin-top: 18px;
}
.logo #pokeball:hover {
    cursor: pointer;
}
.logo #pokemonlogo {
    width: 50vw;
    height: 40vh;
}

/* Below this is pokemon.html files */
.header {
    display:flex;
    flex-flow: column nowrap;
}
.header h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}
form label {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}
.searchSubmit, .dropdownSubmit {
    border: 2px solid black;
    background-color: rgb(117, 126, 207);
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-radius: 2px;
}
.searchSubmit:hover, .dropdownSubmit:hover {
    cursor:pointer;
    color: white;   
    border: 2px dotted black;
}
.header #search {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 2px;
}
.pokemonDisplay {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.gameboy {
    background-color: rgb(172, 171, 171);
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    width: 25vw;
    border-radius: 7px;
}
.boxHeader img {
    height: 10vh;
    width: 10vw;
}
#pokeTypeSelect {
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 3px;
}
.boxHeader {
    background-color: rgb(139, 139, 139);
    display: flex;
    height: 33vh;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.gameboyBody {
    background-color: rgb(172, 171, 171);
    display: flex;
    height: 33vh;
    flex-flow: column wrap;
    align-items: center;
}
.gameboyBody img {
    align-self: flex-start;
    padding-left: 30px;
    height: 11vh;
    width: 12vh;
}
.gameboyBody button {
    border: 1px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    width: 3.5vw;
    height: 2.2vh;
}
.buttonsTop {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    margin-top:10px;
}
.buttonsTop button{
    width: 2vw;
    height: 4vh;
    border: 1px solid black;
    border-radius: 50%; 
}
.buttonsTop #buttonA {
    margin-top: 50px;
    margin-left: 30px;
}
.buttonsTop #buttonB {
    margin-left: 10px;
}
.buttonsTop img {
    padding-right: 150px;
    margin-left: 20px;
}
.buttonsBot {
    margin: 60px 0px 0px 0px;
}
.buttonsBot button:hover {
    cursor:pointer;
}
.gameboyDisplayBox {
    border: .1em solid black;
    margin: 1em;
}
.displayInnerBox {
    border: .7em solid black;
}
.gameboy h1 {
    font-size: 2em;
    text-decoration: underline;
    margin: 0em;
}
.gameboy h2 {
    font-size: 1.25em;
    margin: 0em;
}
.gameboy h3 {
    font-size: 1.25em;
    padding-left: 3em;
}
.pokeTypes {
    color: black;
}
/* Modal */
.modal {
    display:none;
    z-index: 5;
    padding-top: 300px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0, 0.8);
    position: fixed;
}
.modalContent {
    display: flex;
    flex-flow: column wrap;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
.modalContent h1 {
    padding-top: 20px;
}
.modalContent p {
    margin: 0;
    font-size: 13px;
    color: rgb(71, 71, 71);
    font-style: italic;
}
.modalRow2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.legCheck, .mythCheck {
    color: green;
}
.legX , .mythX {
    color: red;
}
.hidden {
    display: none;
}
.close {
    align-self: flex-end;
    color: #aaaaaa;
    font-size: 40px;
    font-weight: bold;
  }

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Ipad sized styling */
@media only screen and (max-width: 810px){
    /* index page */
    .logo #pokemonlogo {
        width: 65vw;
        height: 30vh;
    }
    .logo #pokeball {
        height: 15vh;
        width: 20vw;
        margin-left: 20px;
        margin-top: 20px;
    }

    /*pokemon page */
    .gameboy {
        background-color: rgb(172, 171, 171);
        margin: 2em;
        border: 2px solid black;
        width: 45vw;
        border-radius: 5px;
    }
    .pokemonDisplay {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    .gameboyBody {
        background-color: rgb(172, 171, 171);
        display: flex;
        height: 30vh;
        flex-flow: column wrap;
        align-items: center;
    }
    .gameboyBody button {
        border: 1px solid black;
        border-radius: 25px;
        background-color: black;
        color: white;
        width: 8vw;
        height: 1.75vh;
        margin-top: 5px;
        font-size: 11px;
    }
    .gameboyBody img {
        align-self: flex-start;
        padding-left: 1em;
        height: 12vh;
        width: 15vh;
    }
   
    .boxHeader {
        background-color: rgb(139, 139, 139);
        display: flex;
        height: 25vh;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .boxHeader img {
        height: 12vh;
        width: 12vw;
    }
    .buttonsTop button{
        width: 4.2vw;
        height: 3vh;
        border: 1px solid black;
        border-radius: 50%; 
        margin-top: 50px;
    }
    .buttonsTop img {
        height: 10vh;
        width: 13vw;
        padding-right: 80px;
        padding-top: 20px;
    }
    .buttonsTop #buttonB {
        margin-top: 20px;
    }
}
/* Iphone sized styling */
@media only screen and (max-width: 414px){
    /* index.html*/
    .logo #pokemonlogo {
        width: 60vw;
        height: 20vh;
    }
    .logo h1 {
        padding-left: 20px;
        color: rgb(51, 51, 185);
        filter: none;
        font-family: 'Press Start 2P', cursive;
        font-size: 13px;
        padding-left: 60px;
    }
    .logo #pokeball {
        height: 15vh;
        width: 25vw;
        margin-left: 20px;
        margin-top: 18px;
    }

    /* pokemon.html */
    .gameboy {
        background-color: rgb(172, 171, 171);
        margin: 2em;
        border: 2px solid black;
        width: 80vw;
        border-radius: 5px;
    }
    .pokemonDisplay {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    .gameboyBody {
        background-color: rgb(172, 171, 171);
        display: flex;
        height: 30vh;
        flex-flow: column wrap;
        align-items: center;
    }
    .gameboyBody img {
        align-self: flex-start;
        padding-left: 2em;
        height: 10vh;
        width: 11vh;
    }
    .gameboyBody button {
        border: 1px solid black;
        border-radius: 25px;
        background-color: black;
        color: white;
        width: 12vw;
        height: 2.5vh;
        margin-top: 20px;
        font-size: 12px;
    }
    .boxHeader {
        background-color: rgb(139, 139, 139);
        display: flex;
        height: 25vh;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .boxHeader img {
        height: 12vh;
        width: 14vw;
    }
    .buttonsTop button{
        width: 8vw;
        height: 4vh;
        border: 1px solid black;
        border-radius: 50%; 
        margin-top: 5px;
    }
    .buttonsTop img {
        padding-right: 5px;
        padding-top: 10px;
    }
    .gameboy h1 {
        font-size: 1.4em;
        text-decoration: underline;
        margin: 0em;
    }
    .gameboy h2 {
        font-size: 1em;
        margin: 0em;
    }
    .gameboy h3 {
        font-size: .75em;
        padding-left: 3em;
    }
    .buttonsBot {
        margin: 12px 0px 0px 0px;
    }
}